@import "tailwindcss";




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;

    background:
        radial-gradient(circle at 12% 8%, rgba(163, 161, 154, 0.22), transparent 35%),
        radial-gradient(circle at 92% 75%, rgba(136, 63, 66, 0.08), transparent 40%),
        linear-gradient(180deg, #fffaf1 0%, #fff3df 100%);
    background-attachment: fixed;
}






.parent-header button {
    padding: 10px 24px;
}

.hero-parent {
    background-image: url(image/image\ \(1\).jpeg);
    object-fit: cover;
    /* background: center; */
}

.hero-parent button {
    padding: 10px 24px;
    margin: 30px;
}

.good-food {
    background-image: url(image/hero-background.jpeg);
    /* background: 400px; */

    width: 1280px;
    object-fit: cover;
    height: 600px;
}







/* menu-section */
.cooking {
    font-family: "Moon Dance", cursive;
    font-weight: 800;
    font-style: bold;
    font-size: 22px;

}